/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
.login,
.image {
  min-height: 100vh;
}

h3 {
  font-family: "Inter";
}

.card {
  width: 490px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerLogin {
  color: #018546;
  margin-bottom: 1.5rem;
  font-size: 24px;
}

.headerLupaPassword {
  color: #018546;
  margin-bottom: 1.5rem;
  font-size: 40px;
}

.bg-image-petani {
  background-image: url("../public/images/orang-bertani.jpg");
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.bg-image-lupaPassword {
  background-image: url("../public/images/Lupa-Password.jpg");
  background-size: cover;
  background-position: center center;
}

.google-btn:hover {
  background-color: rgb(196, 196, 196) !important;
}

.jumbotron {
  background-color: white;
  font-family: "Inter";
  color: #018546;
  font-size: 50px;
  margin-bottom: 20px;
}

.password-toggle {
  right: 1em;
  top: 0.5em;
}

.buttonSkip {
  text-decoration: none;
}

.buttonSkip:hover {
  text-decoration: underline;
}

#Loader {
  backdrop-filter: brightness(20%);
}

.frameCus {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backdrop-filter: brightness(20%);
}
.modalCus {
  position: absolute;
  width: 280px;
  height: 210px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  overflow: hidden;
  animation: show-modal 0.7s ease-in-out;
}
.modalCus.hide {
  animation: hide-modal 0.6s ease-in-out both;
}
.modalCus img {
  margin-top: 24px;
}
.modalCus .titleCus {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 14px 0 5px 0;
}
.modalCus p {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 0;
  padding: 0 30px;
}
.modalCus .buttonCus {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f65656;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.modalCus .buttonCus:hover {
  background: #ec3434;
}
@keyframes show-modal {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hide-modal {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  min-width: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  width: 60%;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  /* max-width: 250px; */
  width: 50%;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 50%;
}

.custom-card {
  width: fit-content;
  cursor: pointer;
}
.custom-card img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  filter: brightness(80%);
  transition: 0.5s;
}
.text-container {
  top: 0;
  box-shadow: inset 0 0 70px #000;
  color: white;
}

.custom-card:hover > img {
  filter: brightness(50%);
}

.article-top-Component {
  bottom: 0;
  background-color: #00000092;
}

.article-top-Component h1 {
  color: white;
  font-size: 4vw;
}

.article-top-Component h6 {
  color: chocolate;
  font-size: 2vw;
}

.article-main-img {
  filter: brightness(80%);
  height: 800px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.top-level-article {
  padding: 0 !important;
}

.widget-news img {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 150px;
}
.dsh-weather-widget {
  background-image: url("https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg");
  background-size: cover;
}

.Article-title {
  font-size: 2vw;
}

.cursor-pointer {
  cursor: pointer;
}

.onhoverColor {
  background-color: #848484;
}

.cusCard {
  min-height: 500px;
  max-height: 503px;
}

.card-img-top {
  object-fit: cover;
}
